.page-footer {
  background-color: var(--page-footer-bgcolor);
  margin-top: 120px;
  display: flex;
}
.footer-info {
  display: flex;
  flex-direction: column;
}
.foot-logo {
  font-family: Raleway, sans-serif;
  font-family: #4d5ae5;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  color: var(--logo-color);
  padding-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-logo:hover,
.foot-logo:focus {
  color: #404bbf;
}

.logo-part {
  color: var(--foot-logo-part-color);
}

.foot-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 72px;
}

.social-list-footer {
  display: flex;
  column-gap: 16px;
  margin-top: 16px;
}
.social-footer-titel {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list-footer .social-link:hover,
.social-list-footer .social-link:focus {
  background-color: #31d0aa;
}
.subscribe-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 96px;
}

.social-footer-label {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
}

.subscribe-input {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: inherit;
  padding-left: 16px;
}
.subscribe-input::placeholder {
  color: white;
  opacity: 0.6;
}
.subscribe-button {
  padding: 8px 24px;
  width: 165px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #fff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hero-button-hover-bgcolor);
}
.icon-send {
  fill: #fff;
}
/* ====================================================== */
@media screen and (max-width: 767px) {
  .page-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-info {
    align-items: center;
    padding-top: 96px;
    padding-bottom: 72px;
  }

  .social-footer {
    align-items: center;
  }

  .subscribe-footer-container {
    align-items: center;
    text-align: center;
  }

  .subscribe-input {
    width: 288px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-button {
    margin-top: 16px;
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    align-items: center;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-info {
    align-items: start;
    margin-top: 96px;
    margin-bottom: 72px;
    margin-left: 108px;
    margin-right: 24px;
    width: 264px;
  }

  .social-footer {
    padding-top: 96px;
  }

  .subscribe-footer-container {
    margin-left: 108px;
  }

  .subscribe-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
  }

  .subscribe-button {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .footer-info {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 120px;
  }
  .subscribe-footer-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: 0;
  }
  .social-footer {
    padding-top: 0;
    margin-top: 100px;
    margin-right: auto;
  }
}
