@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .head-address {
    display: none;
  }

  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    line-height: 0;
  }

  .open-mobile-menu-icon {
    fill: black;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    line-height: 0;
    transition: background-color var(--timing), fill var(--timing);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    fill: white;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mobile-menu-background-color);
    z-index: 9999999;
    transform: translate(0);
    transition: transform var(--timing);
  }
  .mobile-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(100%);
    pointer-events: none;
  }

  .mobile-menu-list {
    display: inline-flex;
    flex-direction: column;
    padding-top: 72px;
    padding-left: 16px;
    gap: 40px;
  }

  .mobile-menu-list .link {
    color: #2e2f42;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02 em;
  }
  .mobile-list-contact {
    margin-top: auto;
    padding-left: 16px;
  }

  .contact-list {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
  }
  .contact-list .link {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mobile-social-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .mobile-social-list .social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-list-icon {
    fill: white;
  }
}

.page-header {
  /* padding-top: 16px;
  padding-bottom: 16px; */
  /* border-bottom: 1px solid #e7e9fc; */
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.menu .item {
  color: black;
}

.head-logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-head {
  color: var(--logo-second-half-color);
}
/* ===============================TABLET MEDIA===============================*/

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .page-nav {
    display: flex;
  }

  .menu {
    display: flex;
    gap: 40px;
    margin-left: 120px;
    margin-right: auto;
  }
  .menu .link {
    color: #2e2f42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu .link:hover,
  .menu .link:focus {
    color: var(--menu-list-link-hover-color);
  }
  .current-link {
    position: relative;
    padding-bottom: 24px;
  }

  .current-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--menu-list-link-hover-color);
  }

  .head-address .contact-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 12px;
  }

  .contact-list .link {
    display: flex;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0.04em;
  }
}
/* ===============================DESCTOP MEDIA===============================*/
@media screen and (min-width: 1158px) {
  .page-header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu {
    margin-left: 76px;
  }
  .head-address .contact-list {
    flex-direction: row;
    gap: 40px;
  }
}

/* 

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.head-logo {
  font-family: var(--logo-font-family); 
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--logo-color); 
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-head {
  color: var(--logo-second-half-color); 
}
.head-logo:hover,
.head-logo:focus {
  color: var(--logo-hover-color); 
}

.head-address {
  font-style: normal;
  margin-left: auto;
}



.page-nav {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.contact-list {
  display: flex;
}

.menu {
  display: flex;
}

.menu,
.contact-list {
  gap: 40px;
}

.menu .link {
  font-weight: 500;
  color: var(--menu-list-link-color); 
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .link:hover,
.menu .link:focus {
  color: var(--menu-list-link-hover-color); 
}
.current-link {
  position: relative;
  padding-bottom: 24px;
}

.current-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--menu-list-link-hover-color); 
  
}

.contact-list .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contact-list-link-color); 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--contact-list-link-hover-color); 
} */
