/* --------------------------- Global styles --------------------------- */
:root {
  --body-bgcolor: #fff;
  --body-text-color: #434455;
  --logo-color: #4d5ae5;
  --logo-second-half-color: #2e2f42;
  --logo-hover-color: #404bbf;
  --menu-list-link-color: #2e2f42;
  --menu-list-link-hover-color: #404bbf;
  --contact-list-link-color: #434455;
  --contact-list-link-hover-color: #404bbf;
  --hero-bgcolor: #2e2f42;
  --hero-title-color: #fff;
  --hero-button-text-color: #fff;
  --hero-button-bgcolor: #4d5ae5;
  --hero-button-hover-bgcolor: #404bbf;
  --benefits-list-title-color: #2e2f42;
  --team-bgcolor: #f4f4fd;
  --team-title-color: #2e2f42;
  --team-portfolio-text-color: #2e2f42;
  --team-member-bgcolor: #fff;
  --page-footer-bgcolor: #2e2f42;
  --foot-logo-part-color: #f4f4fd;
  --foot-text-color: #f4f4fd;
  --body-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;

  --timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
